*, *::after, *::before{
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.shelf{
    max-width: 600px;
    width: 85%;
    height: 70%;
    background-color: orange;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 8px black solid;
    border-left: 8px black solid;
    border-right: 8px black solid;

    position: relative;
}



.inner-shelf{
    height: 90%;
    width: 90%;
     
    display: flex;
    background-color: rgb(255, 167, 3);
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    border: 5px black solid;
    overflow-y: auto;
    
    justify-content: center;
}

.inner-shelf::-webkit-scrollbar{
    display: none;
}

.shelf-title{
    position: relative;
    max-width: 650px;
    border-radius: 10px;
    top: 0;
    transform: translateY(-130%);
    width: 110%;
    height: max(12cqw, 12cqh);
    max-height: 100px;
    
    background-color: white;
    border: 10px black solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.shelf-title-text-container{
    container-type: inline-size;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    text-align: center;
    overflow-wrap: anywhere;
    padding: 10px;
    overflow-y: auto;
    
}

.shelf-title-text{
    padding: 0;
    margin: 0;
    font-size: clamp(1.5rem, 1cqi, 2.5rem);
    

}

#shelfTitleInput{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    
}

.shelf-menu-btn{
    position: absolute;
    max-height: 80px;
    height: 95%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 10px black solid;
    background-color: yellow;
    left: 90%;
    top: -25%;
    
}

.row{
    height: 34%;
    width: 100%;
    background-color: yellow;
    flex-shrink: 0;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    margin-bottom: 10px;
}

.shelf-menu-screen{
    height: 100dvh;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.279);
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.shelf-menu{
    transform: translateY(-100%);
    position: absolute;
    height: 80dvh;
    max-width: 620px;
    border-radius: 0 0 10px 10px;
    border:10px black solid;
    border-top: 0;
    background-color: white;
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;

    transition: all 0.5s ease-out;
}

.inner-shelf-menu{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    

}

.main-inner-shelf{
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}




.inner-list{
    height: 100%;
    width: 90%;
    border: 10px solid black;
    border-top: 0;
    border-bottom: 0;
    overflow-y: auto;
   
}

.inner-list::-webkit-scrollbar{
    display: none;
}

.catalog-item{
    width: 100%;
    height: 34%;

    padding: 20px;
    flex-shrink: 0;
    
}

#addShelfContentBtn{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
    font-weight: bold;

}


.catalog-content{
    container-type: inline-size;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 5px black solid;
    font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    padding: 10px;
    

}

.delete-shelf-btn{
    height: 50%;
    max-height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px black solid;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
}

.catalog-content::-webkit-scrollbar{
    display: none;
}

.details-inner-shelf{
    height: 20%;
    width: 100%;
    
    border-top: 10px black solid;

}



.menu-handle{
    transform: translateY(100%);
    height: max(5cqw, 5cqh);
    max-height: 40px;
    max-width: 150px;
    width: 50%;
    background-color: black;
    border-radius: 0 0 10px 10px;
    margin: 0;

}

.shelf-menu.open{
    transform: translateY(0%);
}

.add-shelf-screen.open{
    left: 0;
}
